html {
       height: 100%;
     }

body{
    background-color: dimgray;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: initial;
    background-position: center; 
    }
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 1024px;
           }


 header {
    
            height: 120px;
            text-align: center;
        }

 nav {
        background-color: rgba(0, 0, 0, 0.425);
        /*height: 40px;*/
        padding-top: 15px;
        padding-bottom: 15px;
     }

 main {
        
        height: 400px;
        text-align: center;
        padding-top: 80px;
        padding-left: 280px;
        padding-right: 280px;
        margin-top: 80px;
        
      }
   
 footer {
        background-color: rgba(0, 0, 0, 0.473);
        height: 90px;
        }

   h1 {
        color: wheat;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
    }

   p {
       color: aliceblue;
       font-size: 15px;
       font-family: serif;
   }
   a {
       color: rgba(255, 255, 255, 0.527);
       font-size: 20px;
       font-family: monospace;
       
       
     }

    nav  {

            text-decoration: none;
            text-align: center;
            
            
          }
    nav a {
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10Px;
        font-size: 12px;
       
    }
   
     footer p {
         font-size: 10px;
         color: bisque;
         font-family: 'Courier New', Courier, monospace;
         text-align: center;
         padding-top: 35px;
     }

  .maps {
        padding-left: 215px;
        padding-bottom: 20px;
        
       
       
  }